# Windows & Mac Junk
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log
*.tmp

# Google Drive Temp Files (Up & Down)
.tmp.drivedownload
.tmp.driveupload

# KiCad Lock Files (Do not commit)
*.lck

# Ignore Apps Folder (Optional)
アプリ/
kicad ライブラリ/
